<a href="https://colab.research.google.com/github/BharathDevanaboina/Python-problem-solving-/blob/main/def_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [7]:
# Write code here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

d = dic1|dic2

In [8]:
d|dic3

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [19]:
from re import I
# Write code here

#a = input('')
a = 'hello how are you i am fine thank you'

b = a.split(' ')

b

c = {}

for i in b:
  if i in c:
    c[i] +=1
  else:
    c[i] =1

print(c)

{'hello': 1, 'how': 1, 'are': 1, 'you': 2, 'i': 1, 'am': 1, 'fine': 1, 'thank': 1}

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [20]:
# Write code here

a = [13,42,15,37,22,39,41,50]

a

[13, 42, 15, 37, 22, 39, 41, 50]

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [42]:
from sre_compile import dis
# Write code here
def shortest_dist(query, c):
  temp = []

  for i in c:
    distance = ((i[0] - query[0])**2 + (i[1]-query[1])**2)**0.5
    print(i,distance)
    temp.append(distance)
  return sorted(list(enumerate(temp), key = lambda x:x[1], reverse = True))


query = (0,0)
c = [(1,1),(2,2),(3,3),(4,4)]

shortest_dist(query, c)

(1, 1) 1.4142135623730951
(2, 2) 2.8284271247461903
(3, 3) 4.242640687119285
(4, 4) 5.656854249492381

TypeError: list() takes no keyword arguments

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [9]:
# Write code here

def bag(words):
  BoW1 = 'John likes to watch movies. Mary likes movies too'
  BoW2 =  'Mary also likes to watch football games'

  a = BoW1.split(' ')

  c = {}
  for i in a:
    if i in c:
      c[i] +=1

    else:
      c[i] = 1
  print(c)

d = BoW2.split(' ')

f = {}
for i in d:
  if i in f:
    f[i] +=1

  else:
    f[i] = 1
print(f)

{'John': 1, 'likes': 2, 'to': 1, 'watch': 1, 'movies.': 1, 'Mary': 1, 'movies': 1, 'too': 1}
{'Mary': 1, 'also': 1, 'likes': 1, 'to': 1, 'watch': 1, 'football': 1, 'games': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [7]:
# Write code here

from functools import reduce

nums = [1, 2, 3, 4]
result = reduce(lambda x, y: x + y, nums)
print(result)  # Output: 10

10

In [8]:
nums = [1, 2, 3, 4]
result = sum(map(lambda x: x, nums))
print(result)  # Output: 10

10

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

result = list(map(lambda x, y, z: x + y + z, list1, list2, list3))
print(result)

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [13]:
# Write code here
numbers = [1,2,3,4,5,6]
result = list(map(lambda x, i: x ** i, numbers, range(len(numbers))))
result

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [20]:
# Write code here
# Write code here
input_string = "Hello World"

vowels = "aeiou"

# Use filter() to select vowels, and convert it to a list
result = list(filter(lambda x: x.lower() in vowels, input_string))
result

['e', 'o', 'o']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [22]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


from functools import reduce

nums = [1, 2, 3, 4]
result = reduce(lambda x, y: x + y, matrix)
print(result)  # Output: 10

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

In [29]:
def create_histogram(data):
    histogram = {}
    for number in data:
        bin_start = (number - 1) // 10 * 10 + 1
        bin_end = bin_start + 9
        bin_range = f"{bin_start}-{bin_end}"
        if bin_range in histogram:
            histogram[bin_range] += 1
        else:
            histogram[bin_range] = 1
    return histogram

sample_list = [13, 42, 15, 37, 22, 39, 41, 51]
histogram_output = create_histogram(sample_list)
print(histogram_output)

{'11-20': 2, '41-50': 2, '31-40': 2, '21-30': 1, '51-60': 1}

In [22]:
def create_histogram(data):
    histogram = {
        '0-10': 0,
        '11-20': 0,
        '21-30': 0,
        '31-40': 0,
        '41-50': 0,
        '51-60': 0
    }
    for number in data:
        if 0 < number <= 10:
            histogram['0-10'] += 1
        elif 10 < number <= 20:
            histogram['11-20'] += 1
        elif 20 < number <= 30:
            histogram['21-30'] += 1
        elif 30 < number <= 40:
            histogram['31-40'] += 1
        elif 40 < number <= 50:
            histogram['41-50'] += 1
        elif 50 < number <= 60:
            histogram['51-60'] += 1

    # Remove bins with zero counts for cleaner output
    histogram = {bin_range: count for bin_range, count in histogram.items() if count > 0}
    return histogram

sample_list = [13, 42, 15, 37, 22, 39, 41, 50]
histogram_output = create_histogram(sample_list)
print(histogram_output)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

In [43]:
import math

def find_closest_coordinate(coordinates, query_point):

    closest_coord = None
    min_distance = float('inf')  # Initialize with a very large value

    for coord in coordinates:
        # Calculate the Euclidean distance between the current coordinate and the query point
        distance = math.sqrt((coord[0] - query_point[0])**2 + (coord[1] - query_point[1])**2)

        # Update if the current coordinate is closer
        if distance < min_distance:
            min_distance = distance
            closest_coord = coord

    return closest_coord

# Sample data
list_of_coordinates = [(1, 1), (2, 2), (3, 3), (4, 4)]
query_point = (0, 0)

# Find the closest coordinate
closest = find_closest_coordinate(list_of_coordinates, query_point)

print(f"Nearest to {query_point} is {closest}")

Nearest to (0, 0) is (1, 1)

In [1]:
import re

def bag_of_words(sentences):

    bow_results = {}
    for i, sentence in enumerate(sentences):
        # Convert to lowercase and remove punctuation
        words = re.findall(r'\b\w+\b', sentence.lower())
        word_counts = {}
        for word in words:
            word_counts[word] = word_counts.get(word, 0) + 1
        bow_results[f"BoW{i+1}"] = word_counts
    return bow_results

# Example usage with the sentences from the problem description:
sentences = [
    "John likes to watch movies. Mary likes movies too.",
    "Mary also likes to watch football games."
]

bow_output = bag_of_words(sentences)
for bow_name, bow_dict in bow_output.items():
    print(f"{bow_name} = {bow_dict};")

# You can also test with user input if you'd like:
# user_sentences_input = input("Enter sentences separated by a period: ")
# user_sentences = [s.strip() for s in user_sentences_input.split('.') if s.strip()]
# if user_sentences:
#     user_bow_output = bag_of_words(user_sentences)
#     print("\nBag-of-Words for user input:")
#     for bow_name, bow_dict in user_bow_output.items():
#         print(f"{bow_name} = {bow_dict};")

BoW1 = {'john': 1, 'likes': 2, 'to': 1, 'watch': 1, 'movies': 2, 'mary': 1, 'too': 1};
BoW2 = {'mary': 1, 'also': 1, 'likes': 1, 'to': 1, 'watch': 1, 'football': 1, 'games': 1};