<a href="https://colab.research.google.com/github/BharathDevanaboina/Python-problem-solving-/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [5]:
# Write code here

income = int(input('enter the input file:'))


deduction = (income * 0.1)+ (income * 0.05)+ (income * 0.03)

salary = income - deduction

if salary < 500000:
  print(f'in hand salary {salary}')
elif salary < 1000000:
  tax = salary *0.1
  in_hand = salary - tax
  print (f'in hand salary is {in_hand}, tax amount is {tax}')
elif salary < 2000000:
  tax = salary *0.2
  in_hand = salary - tax
  print (f'in hand salary is {in_hand}, tax amount is {tax}')
else:
  tax = salary *0.3
  in_hand = salary - tax
  print (f'in hand salary is {in_hand}, tax amount is {tax}')

enter the input file:2500000
in hand salary is 1435000.0, tax amount is 615000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [11]:
# Write code here

a = int(input('enter the first angle '))
b = int(input('enter the first angle '))
c = int(input('enter the first angle '))

if a <0 or b < 0 or c <0:
  print('not an triangel')
elif a + b+ c == 180:
  print ('it is triangel')
else:
  print('not an triangel')

enter the first angle 100
enter the first angle 75
enter the first angle 5
it is triangel

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [14]:
# Write code here

selling_price = int(input('enter the price which your selling at:'))
cost_price = int(input('enter the price which your cost at:'))

if selling_price>cost_price:
  print('it is a profit')
elif selling_price == cost_price:
  print('no profit and no loss')
else:
  print('it is a loss')

enter the price which your selling at:1000
enter the price which your cost at:1000
no profit and no loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [17]:
# Write code here

def cm_to_ft(cm):
    return cm / 30.48

def km_to_miles(km):
    return km / 1.609

def usd_to_inr(usd):
    # Example conversion rate, change it as per the current rate
    return usd * 82.5

while True:
    print("\nMenu:")
    print("1. Convert cm to ft")
    print("2. Convert km to miles")
    print("3. Convert USD to INR")
    print("4. Exit")

    choice = input("Enter your choice (1/2/3/4): ")

    if choice == '1':
        cm = float(input("Enter the length in centimeters: "))
        print(f"{cm} cm is equal to {cm_to_ft(cm):.2f} feet.")

    elif choice == '2':
        km = float(input("Enter the distance in kilometers: "))
        print(f"{km} km is equal to {km_to_miles(km):.2f} miles.")

    elif choice == '3':
        usd = float(input("Enter the amount in USD: "))
        print(f"{usd} USD is equal to {usd_to_inr (usd):.2f} INR.")

    elif choice == '4':
        print("Exiting the program. Goodbye!")
        break

    else:
        print("Invalid choice. Please select a valid option.")

Menu:
1. Convert cm to ft
2. Convert km to miles
3. Convert USD to INR
4. Exit
Enter your choice (1/2/3/4): 3
Enter the amount in USD: 100
100.0 USD is equal to 8250.00 INR.

Menu:
1. Convert cm to ft
2. Convert km to miles
3. Convert USD to INR
4. Exit
Enter your choice (1/2/3/4): 4
Exiting the program. Goodbye!

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [28]:
# Write code here

first = 0
second = 1

tird = first + second

forth = [0,1]

for i in range ( 0 , 11):
   forth.append(forth[-1]+ forth[-2])

print (first, second , tird , forth)

0 1 1 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [34]:
# Write code here

n = int(input('enter the factorial:'))

factor = 1
for i in range (1 , n+1):
  factor *= i

print(factor)

enter the factorial:5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [42]:
# Write code here

n = input('Enter a value to see in reverse: ')
print(n[::-1])

Enter a value to see in reverse: 123456+
+654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [54]:
# Write code here

n = int(input('ent the value'))

empty = 0

for i in range (1 , n+1):
  if i % 5 == 0:
    continue

  if empty + i >300:
    break
  empty += i

print(empty)

ent the value30
276

In [1]:
def sum_skip_5(current, n, total_sum):
    if current > n:
        return total_sum

    if current % 5 == 0:
        return sum_skip_5(current + 1, n, total_sum)


    if total_sum + current > 300:
        return total_sum


    return sum_skip_5(current + 1, n, total_sum + current)


n = int(input('Enter the value of N: '))
result = sum_skip_5(1, n, 0)
print(result)

Enter the value of N: 12
63

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [9]:
# Write code here
import numpy as np

total = 0

while True:
  user = int(input('enter the valuee'))
  if  user == 0:
    break
  total += user

print(total)
print(np.average(total))

enter the valuee10
enter the valuee10
enter the valuee15
enter the valuee13
enter the valuee17
enter the valuee15
enter the valuee18
enter the valuee19
enter the valuee0
117
117.0

In [ ]:
total = 0  # Variable to store the sum
count = 0  # Variable to count the number of inputs

while True:
    user_input = int(input('Enter a value (0 to stop): '))

    if user_input == 0:  # If the user inputs 0, stop the loop
        break

    total += user_input  # Add the user input to the total sum
    count += 1  # Increment the count

# Calculate and print the average
if count > 0:  # Avoid division by zero
    average = total / count
    print(f"The average is: {average}")
else:
    print("No valid numbers entered.")

In [10]:
import numpy as np

numbers = []  # List to store the numbers

while True:
    user = int(input('Enter the value: '))
    if user == 0:
        break
    numbers.append(user)  # Add the user input to the list

# Calculate the total and average
total = sum(numbers)
average = np.average(numbers)

print("Total:", total)
print("Average:", average)

Enter the value: 10
Enter the value: 10
Enter the value: 12
Enter the value: 15
Enter the value: 17
Enter the value: 19
Enter the value: 20
Enter the value: 55
Enter the value: 0
Total: 158
Average: 19.75

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [15]:
# Write code here

empty = []

for i in range (2000, 3201):
  if i%7 == 0 and i != 5:
    empty.append(str(i))

print(",".join(empty))

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [17]:
# Write code here

empty1 = []

for i in range (1000, 3001):
  if i % 2 == 0:
    empty.append(str(i))

print(" ".join(empty1))

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [6]:
# Write code here
import math


x, y = 0, 0


while True:

    command = input().strip()

    # Check if the command is '!' to stop the loop
    if command == '!':
        break

    # Split command into direction and steps
    direction, steps = command.split()
    steps = int(steps)

    # Update position based on direction
    if direction == 'UP':
        y += steps
    elif direction == 'DOWN':
        y -= steps
    elif direction == 'LEFT':
        x -= steps
    elif direction == 'RIGHT':
        x += steps


distance = math.sqrt(x**2 + y**2)


print(round(distance))

UP 5 DOWN 3

ValueError: too many values to unpack (expected 2)

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [8]:
# Write code here

n = int(input('enter the value'))

if n%2 ==0:
  print('even number')
else:
  print('non prime number')

enter the value7
non prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [11]:
# Write code here

n = input('enter the value')

empty = []

for i in  n:
  empty += (i)***3


  print(i)

enter the value153
1
5
3

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here